<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abelsalcedo.mgworlapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewProfileActivity"
            android:parentActivityName=".BaseActivity"
            tools:ignore="Instantiatable"/>
        <activity android:name=".activities.colaborador.MapColaboradorActivity" />
        <activity android:name=".activities.cliente.MapClienteActivity" />
        <activity android:name=".activities.cliente.UpdateProfileActivity" />
        <activity android:name=".activities.cliente.DetailRequestActivity" />
        <activity android:name=".activities.colaborador.RegisterColaboradorActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".SelectOptionAuthActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".MessageActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".SelectOptionAuthActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SelectOptionAuthActivity"
            android:parentActivityName=".activities.MainActivityMapa" />
        <activity
            android:name=".activities.MainActivityMapa"
            android:parentActivityName=".activities.splashActivity" />
        <activity android:name=".activities.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
    </application>

</manifest>